.icon_sunny { background-image: url(../images/weather/晴（白天）.png); }
.icon_cloudy { background-image: url(../images/weather/多云.png); }
.icon_overvast { background-image: url(../images/weather/阴天.png); }
.icon_fog { background-image: url(../images/weather/雾.png); }
.icon_lightrain { background-image: url(../images/weather/小雨.png); }
.icon_heavyrain { background-image: url(../images/weather/大雨.png); }
.icon_shower { background-image: url(../images/weather/阵雨.png); }
.icon_thundershower { background-image: url(../images/weather/雷阵雨.png); }
.icon_lightsnow { background-image: url(../images/weather/小雪.png); }
.icon_heavysnow { background-image: url(../images/weather/大雪.png); }
.icon_unknown { background-image: url(../images/weather/未知.png); }
.text-big { font-size: 28px; }


#weather { height: 100%; width: 430px; border-radius: 4px; background-image: linear-gradient(to top, rgba(32, 156, 255, 0) 0%, rgba(105, 184, 207, 0) 100%); }
#weather>p { margin: 0; padding: 0 12px; color: rgba(12, 207, 253, .9); height: 25px; font-size: 16px; line-height: 25px; }
#weather>p span:first-child { margin-right: 8px; }
.weather_panel { width: 100%; font-size: 0; height: 158px; }
.weather_panel>span { position: relative; display: inline-block; float: left; height: 158px; width: 15%; padding: 0; margin: 0; font-size: 10px; color: rgba(12, 207, 253, .9); text-align: center; overflow: hidden; }
.weather_panel>span:first-child { width: 25%; }
.weather_panel>span>div { width: 100%; margin-top: 10px; }
.weather_panel>span p { margin: 8px 0; color: rgba(12, 207, 253, .9); height: 18px; overflow: hidden; }
.weather_panel>span p.realtime { height: 40px; }
.weather_panel .icon_weather { display: block; margin: 0 auto; width: 24px; height: 20px; background-size: 100% 100%; }
.weather_panel .span_split { position: absolute; left: 0px; top: 10px; width: 2px; height: 150px; background: #fff; filter: alpha(opacity=15); opacity: 0.15; }