.HomePage {
  text-align: center;
}

.Home-logo {
  animation: App-logo-spin infinite .2s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-intro {
  font-size: large;
}

.Counter-odd {
  color: red;
}

.Counter-even {
  color: blue;
}
