#ParkingHeat { height: 100%; width: 100%; }
#heatmap { height: 100%; width: 100%; background-image: url('../images/heatmap-bg.png'); background-size: 100% 100%; opacity: .9 }

#parking-lot .c_center { width: 3840px; height: 1770px; padding: 0 50px; }
#parking-lot .CarsDistri, #parking-lot .IOSummary { height: 1770px; }
#parking-lot .CarsDistribution { display: inline-block; }
#parking-lot .ServiceCondition { height: 1770px; }
#IO-Cars { width: 100%; height: 100%; }
#IO-Cars .input, #IO-Cars .output { width: 100%; height: 750px; font-size: 62px;margin: 30px 0; }
#IO-Cars .input p, #IO-Cars .output p { display: block; color: #fff; text-align: center; }
#IO-Cars .input p span, #IO-Cars .output p span { text-align: center; }
#IO-Cars .input p:first-child span, #IO-Cars .output p:first-child span { margin: 0 50px; font-family: 'ZZGFSH'; font-size: 92px; color: rgb(17, 227, 242); }


